h1{color:white}
body{background-color:#28627D}
.bor{border-top-style:solid;border-right-style:double;border-bottom-style:dashed;border-left-style:dotted;border-color:black}
.bor1{border-style:dotted;border-color:black}
.bor2{border-style:dotted;border-color:black}
.bor3{border-style:dotted;border-color:black}
.bor4{border-style:dotted;border-color:black}
.bor5{border-style:double;border-color:black}
.bor6{border-style:none}