#daniel{ background-color:#00202B;
height:80px}
#danie{ background-color:#FF7F50;
height:80px}
#dani{ background-color:#28627D;
height:80px}
.para{color:white;font-size:20px;font-align:center}
h3{color:#8D1B3C}
img{height:100%;
width:600px}